*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background: url(./../images/f1_1.jpg) no-repeat center 0;
    background-size: cover;
    /* 缩放背景图 */
}
.cloud img{
    position: absolute;
    left: 50%;
    top: 0;
}
.cloud img:nth-child(1){
    margin-left: -300px;
    animation: cloud 1s infinite linear alternate;
}
.cloud img:nth-child(2){
    margin-left: 400px;
    top: 100px;
    animation: cloud 1s infinite linear alternate 0.2s;
}
.cloud img:nth-child(3){
    margin-left: -550px;
    top: 200px;
    animation: cloud 1s infinite linear alternate 0.4s;
}
@keyframes cloud{
    to{
        transform: translateX(20px);
    }
}
.pic img{
    position: absolute;
    bottom: 40px;
    left: 50%;
}
.pic img:nth-child(1){
    margin-left: -447px;
    animation: up 0.5s linear alternate infinite;
}
.pic img:nth-child(2){
    margin-left: -200px;
    animation: up 0.5s linear alternate infinite 0.5s;
}
.pic img:nth-child(3){
    margin-left: 50px;
    animation: up 0.5s linear alternate infinite 1s;
}
.pic img:nth-child(4){
    margin-left: 300px;
    animation: up 0.5s linear alternate infinite 1.5s;
}
@keyframes up{
    to{
        transform: translateY(10px);
    }
}